[2015-08-25 17:27] madmas opened #13 "GroovyFX TableView not working with Java8/JavaFX8"
Creating a table view on a view with groovyFx does not work as the following exception is thrown:

[code]

[2015-08-25 17:30] aalmiray opened #14 "TableFactory.groovy refers to non existant class"
Minor issue:-

TableFactory refers to non-existant class PatientView in EnumEditingCell.createChoiceBox() exception handler.

original issue report: https://github.com/groovyfx-project/groovyfx-project.github.com/issues/2

[2015-08-25 17:30] aalmiray opened #15 "MenuDemo.groovy invalid code"
s/println:/println

original issue report: https://github.com/groovyfx-project/groovyfx-project.github.com/issues/3

[2015-08-25 17:31] aalmiray opened #16 "Multiple class selectors"
Rather than

    styleClass: ['my-list', 'special-list']

would be groovy to have

    styleClass: 'my-list special-list'

In reference to http://dev.w3.org/html5/spec-preview/global-attributes.html#classes

...the class attribute is split on spaces. (Duplicates are ignored.)
The space characters, for the purposes of this specification, are U+0020 SPACE, "tab" (U+0009), "LF" (U+000A), "FF" (U+000C

[2015-08-25 17:34] aalmiray opened #17 "Add support for Toolbar layout constraints"
It would be nice to do something like the following:

    toolBar {
        pane { hgrow: 'always' }
    }

Refer to equivalent FXML solution - http://stackoverflow.com/questions/24896498/how-to-right-allign-a-button-in-java-fx-toolbar:

    <?xml version="1.0" encoding="UTF-8"?>
    <?import javafx.scene.control.*?>
    <?import javafx.scene.layout.*?>
    <ToolBar prefHeight="40.0" prefWidth="31

[2015-08-25 17:35] aalmiray opened #18 "SceneGraphBuilder registers "bean" twice"
duplicate in registerNodes()

original issue report: https://github.com/groovyfx-project/groovyfx-project.github.com/issues/6

[2015-08-25 17:35] aalmiray opened #19 "Add support for TextFlow in SceneGraphBuilder"
original issue report: https://github.com/groovyfx-project/groovyfx-project.github.com/issues/7

[2015-08-25 17:36] aalmiray opened #20 "Add builder support for SceneAntialiasing in Scene constructor"
original issue report: https://github.com/groovyfx-project/groovyfx-project.github.com/issues/8

[2015-08-25 17:42] madmas commented on #13
After trying to verify this, it turns out that rebuilding groovyfx with the last Java 8 release (update 60) is sufficient to solve this.
So it seems like a release, rebuild based on a recent version of Java, is required ;-)

[2015-08-25 17:48] #15 closed

[2015-08-25 18:19] #14 closed

[2015-08-25 18:39] aalmiray opened #23 "@FXBindable does not support object properties"
As explained at https://github.com/groovyfx-project/groovyfx/pull/10

[2015-08-25 18:39] #23 closed

[2015-08-25 18:43] #18 closed

[2015-08-25 18:44] aalmiray opened #24 "Add code coverage settings to project"
Preferably use JaCoCo

[2015-08-25 18:45] aalmiray opened #25 "Add CI settings to build"
Use travis

[2015-08-25 18:46] aalmiray opened #26 "Publish coverage details to coveralls.io"

[2015-08-26 06:50] aalmiray commented on #24
Fixed with https://github.com/groovyfx-project/groovyfx/pull/27

[2015-08-26 06:50] #24 closed

[2015-08-26 06:50] aalmiray commented on #25
Fixed with https://github.com/groovyfx-project/groovyfx/pull/27

[2015-08-26 06:50] #25 closed

[2015-08-26 06:50] aalmiray commented on #26
Fixed with https://github.com/groovyfx-project/groovyfx/pull/27

[2015-08-26 06:50] #26 closed

[2015-08-26 08:38] #19 closed

[2015-08-26 18:02] aalmiray opened #28 "Add support for DatePicker in SceneGraphBuilder"

[2015-10-03 07:08] shnplr opened #29 "Typo in SceneGraphBuilder.groovy"
Line 154-
                                case Worker.State.CANCELED:
                                    System.out.println(wv.engine.loadWorker.message);
                                    wv.engine.loadWorker.stateProperty().removeListener(this);
                                    break;

S/be CANCELLED (with 2 x L's)

[2015-10-03 08:05] shnplr opened #30 "Exception using binding inside BorderPane"
If a node containing binding is added directly into borderPane (top, center..etc) we get an exception.
e.g.
groovy.lang.MissingMethodException: No signature of method: groovyx.javafx.factory.BorderPanePosition.addNode() is applicable for argument types: (groovyx.javafx.binding.BindingHolder) values: [groovyx.javafx.binding.BindingHolder@2d3e0ea3]
Possible solutions: addNode(javafx.scene.Node), get

[2015-10-04 11:25] aalmiray commented on #29
For reference http://grammarist.com/spelling/cancel/

[2015-10-05 03:39] shnplr commented on #29
https://docs.oracle.com/javase/8/javafx/api/javafx/concurrent/Worker.State.html#CANCELLED

[2015-10-05 03:44] shnplr commented on #29
Also, perhaps call to 'System.out' should be replaced with LOG.debug|info (2 places).

[2015-10-27 20:59] swalton00 opened #31 "JAVAFX_HOME required incorrectly"
If jfxrt.jar is not found int classpath, a message is issued requesting that JAVAFX_HOME be set:
    Please set the environment variable JAVAFX_HOME
    to the directory that contains rt/lib/jfxrt.jar
    of JavaFX version 8.0.*.
That jar is found in jre/lib/ext for Java8 distributions.

On Windows, setting JAVAFX_HOME to JAVAFX_HOME=/Java/java8/jre/lib/ext appears to be the only way to get it to

[2015-10-28 01:17] swalton00 commented on #31
I tried several variations and finally ended up creating a new directory  containing "rt/lib/*" with all the files contained in the "java8/jre/lib/ext" folder and set JAVAFX_HOME to that folder. I was then able to build. Created a basic POM file and mvn install'd that to my local.

The jar wasn't built correctly, the path was "man/groovy/...." when it should have been "groovyfx/....."
Manually cor

[2015-11-12 17:23] alexramos74 commented on #13
Hi, I'm having a similar problem, when I try to turn a tableColumn editable like this,

    tableColumn(text: "Value", property: "value", editable: true)

I get the following exception, with a very generic stack trace:

    org.codehaus.groovy.runtime.InvokerInvocationException: java.lang.NoClassDefFoundError: com/sun/javafx/accessible/providers/AccessibleProvider
	at org.codehaus.groovy.reflectio

[2015-11-12 17:29] swalton00 commented on #13
As I recall, the correction for this is in the checked in code, but there
is not yet a distribution for this. I think what I needed to do to fix this
was to clone  the repository, build it myself, and then do a maven install
to my local. That did resolve the issue though.

On Thu, Nov 12, 2015 at 12:23 PM, alexramos74 <notifications@github.com>
wrote:

--
Scott Walton

[2015-11-13 14:16] alexramos74 commented on #13
I did that, compiled locally and now it's working. Thanks.

[2015-11-22 07:22] shnplr opened #32 "Add builder support for javafx.scene.control.ButtonBar"
groovy.util.FactoryBuilderSupport createNode
WARNING: Could not find match for name 'buttonBar'
e.g.

    buttonBar {
        button buttonData: OK
        button buttonData: APPLY
        button buttonData: CANCEL
    }

I'm trying to use this inside a Griffon application if it makes any difference

[2016-01-23 10:29] russel opened #33 "Tests fail on Linux"
Same problem on Debian Sid and Fedora Rawhide, both using Oracle JDK 8u72.

|> gradle -s test
:buildSrc:compileJava UP-TO-DATE
:buildSrc:compileGroovy UP-TO-DATE
:buildSrc:processResources UP-TO-DATE
:buildSrc:classes UP-TO-DATE
:buildSrc:jar UP-TO-DATE
:buildSrc:assemble UP-TO-DATE
:buildSrc:compileTestJava UP-TO-DATE
:buildSrc:compileTestGroovy UP-TO-DATE
:buildSrc:processTestResources UP-TO-DAT

[2016-02-09 12:20] aalmiray commented on #32
Fixed with https://github.com/groovyfx-project/groovyfx/commit/6423cb9de6ff17dce55ddba3b380118eaab10504

[2016-02-09 12:20] #32 closed

[2016-02-09 12:26] #29 closed

[2016-02-09 12:32] #30 closed

[2016-02-09 14:02] aalmiray commented on #28
Fixed by https://github.com/groovyfx-project/groovyfx/commit/8b1048e5044d87884b8106076a9fc3779c28901f

[2016-02-09 14:02] #28 closed

[2016-02-09 14:31] #20 closed

[2016-02-09 14:53] #17 closed

[2016-02-09 14:54] russel opened #35 "Classes removed in JDK8 GroovyFX"
The following classes are in GroovyFX 8 but not in GroovyFX 9:

javafx.scene.NodeBuilder
com.sun.javafx.css.parser.CSSParser
com.sun.javafx.css.Stylesheet
javafx.scene.paint.RadialGradientBuilder
javafx.scene.paint.RadialGradientBuilder
com.sun.javafx.css.parser.CSSParser
javafx.scene.paint.LinearGradientBuilder
com.sun.javafx.css.Stylesheet
javafx.scene.paint.LinearGradientBuilder
javafx.scene.ch

[2016-02-10 14:16] shnplr commented on #31
I think I have a similar problem using cygwin inside windows - the jdk8 path resolved to '/cygdrive/c/Java/jdk1.8.0_72/jre/lib/ext/jfxrt.jar' which exists from a posix viewpoint (ls) however file.exists() is false - I'm guess its assuming 'C:\cygdrive\c\Java\jdk1.8.0_72\jre\lib\ext\jfxrt.jar' which doesn't exist. Current workaround is to comment out the entire block - perhaps the check isn't reall

[2016-02-11 10:04] russel commented on #31
JavaFX is only present in the Oracle JDK8 distribution. For those using OpenJDK 8 you have to have a pointer to the jfxrt.jar so JAVAFX_HOME is useful in that context. Fortunately jfxrt.jar comes as standard with OpenJDK 9.

I think we can probably simplify everything a lot if we say JDK7/JavaFX 2 is no longer supported as of now.

[2016-02-13 13:53] chriswhocodes commented on #35
Hi Russell,

Did some investigation into this at the AdoptOpenJDK hackday.

My best read on this is that GroovyFX / JDK9 issues are due to Oracle dropping support for the JavaFX SceneBuilder.

SceneBuilder has been picked up by Gluon: http://gluonhq.com/gluon-supports-scene-builder/ and http://gluonhq.com/open-source/scene-builder/

Unfortunately it's not a drop-in library replacement and the old

[2016-03-03 21:34] oxysoft opened #36 "Extension methods should be implemented as extension module?"
I think it would be wise to implement the extension methods in this library using extension modules rather than adding them directly to the metaclass so that IDEs can have intelligence over these methods and not show them as unrecognized

[2016-03-08 09:17] #36 closed

[2016-03-31 17:39] acmi opened #37 "@FXBindable & @CompileStatic & static inner class"
For example:
[code]
Decompiled:
[code]
So getter/setter not work :(

[2016-04-12 09:48] shnplr opened #39 "Download link not working on home page http://groovyfx.org/"
https://dl.bintray.com/groovyfx/maven/org/groovyfx/groovyfx/8.0.0/:groovyfx-8.0.0.jar

(need to remove colon before groovyfx)

[2016-04-21 10:19] aalmiray commented on #39
Fixed. Thanks!

[2016-04-21 10:19] #39 closed

[2016-05-13 00:43] msgilligan opened #40 "Link(s) to mailing list are obsolete"
There are references and links in the following places to Codehaus mailing lists:

* Developer Wiki https://github.com/groovyfx-project/groovyfx/wiki

(Looks like there's only one place, but I thought I saw it somewhere else. On http://groovyfx.org the *Mailing Lists* link points to the *Mailing Lists* page on the groovy-lang.org website. Are those the correct lists now for GroovyFX discussion?)

[2016-05-21 19:59] kastork commented on #40
The link to the getting started guide is also broken (this is on the site home page).

`http://groovyfx.org/docs/guide/gettingStarted.html`

[2016-05-21 20:18] kastork opened #42 "Grape examples appear to be incomplete"
When trying to run an example using the suggested @Grab approach.  Receive an exception.

e.g. this is the accordion example copied from the demos directory.  Then, as suggested in README, add the Grab annotation.
[code]
Then, using either
`groovy AccordionDemo.groovy`
or
`groovy -cp $JAVA_HOME/jre/lib/ext/jfxrt.jar AccordionDemo.groovy`

results in

[code]

The google machine suggests this error

[2016-05-21 20:59] msgilligan commented on #40
@kastork I created a PR that fixes that broken link: https://github.com/groovyfx-project/groovyfx-project.github.com/pull/10

@russel  @aalmiray et. al. If you tell me what the current mailing list is, I will create a pull request for that fix, too.

[2016-05-21 21:02] msgilligan opened #43 "Github project page title still says "JavaFX 2.0""
The title on [this page](https://github.com/groovyfx-project/groovyfx) still says

I'd send a pull request for this fix, but it requires someone with repo admin privilege to edit via the Github Web UI.

[2016-05-22 07:55] russel commented on #43
I believe I am supposed to have appropriate privileges but I do not see an edit button – but then the GitHub UI changes so often I may just be missing it.

[2016-05-22 08:40] russel opened #44 "GroovyFX 8.0.0 artefact not on Maven Central"
It appears that the 'org.groovyfx:groovyfx:8.0.0' artefact has not been propagated to Maven Central. This seems to mean that a @Grab of the artefact in a Groovy script fails.

[2016-05-22 09:28] russel commented on #40
There are no GroovyFX specific mailing lists now. The traffic was so low that when Codehaus demised we agreed to just use the Groovy list with a [GroovyFX] Subject prefix.

[2016-05-22 09:29] russel commented on #40
@kastork I believe @msgilligan 's pull request on the website is now merged.

[2016-05-22 09:56] russel commented on #42
I think we need to separate the JDK8 and JDK9 problems into two. Also we need to be sure which Groovy versions are being used. This script with JDK9 119 gives me the java.lang.ExceptionInInitializerError but the stack is totally different. Can I propose we close this issue and start two new ones?

[2016-05-22 21:56] msgilligan commented on #40
@russel I created this Wiki Page based upon your response: https://github.com/groovyfx-project/groovyfx/wiki/Mailing-Lists

If it looks good I'll create a pull request for the **Mailing Lists** link on the website to point to this wiki page instead of (confusingly IMHO) pointing directly to the list of 4 Groovy mailing lists.

[2016-05-23 06:14] msgilligan opened #45 "Complete Chapter 4 of User Guide "Properties and Bindings""
Has anyone started writing this? If so, please point me at the work in progress.

I'd like to contribute this section unless someone else is working on it.

[2016-05-23 07:42] russel commented on #44
I am reliably informed that there have been attempts to solve this one that have not been successful, and that new attempts will be made soon. In the mean time the JCenter (Bintray) repository has the artefact.

[2016-05-23 07:43] russel commented on #40
@msgilligan That definitely works for me. Thanks for proposing this fix. I'll commit a pull request as soon as it appears here.

[2016-05-23 07:54] msgilligan commented on #40
@russel I just made some additional fixes on the [Wiki home page](https://github.com/groovyfx-project/groovyfx/wiki) (other links and references to CodeHaus, see wiki history for changes)

[2016-05-23 07:59] msgilligan commented on #40
@russel And here's the PR for the mailing list link on the Github page site: https://github.com/groovyfx-project/groovyfx-project.github.com/pull/12

[2016-05-23 08:02] russel commented on #45
@msgilligan  As far as I am aware no-one is actively working, or has pending material, so please feel free to steam ahead. If it turns out there are other contributions, I will act as editor and merge. I am fairly confident though that there are none just now.

[2016-05-23 08:11] russel commented on #40
@msgilligan  Duly merged and tested. Thanks for spotting this and fixing it.

[2016-05-23 08:11] #40 closed

[2016-05-23 08:14] msgilligan commented on #44
@russel I think it's considered a best practice these days to use `jcenter()` in `build.gradle` files. Maybe we should change the samples to work this way?

[2016-05-23 08:19] russel commented on #44
I suspect:
[code]
is the de facto standard now, certainly it is the way Grapes works by default. I think altering the example build files to show this would be a good thing, not just as a workaround but as example of standard practice.

I cannot do anything on this this morning, but this afternoon I can give it a go if it is agreed to be the right thing to do. I vote yes.

[2016-05-23 08:26] msgilligan commented on #43
I just checked on a repo I have admin access on and the edit link appears on the main page just to the right of title. Maybe you don't have access. Should we tag someone or assign this issue to someone. We definitely want GroovyFX to look like an active/current project. It should definitely have an **8** there.

[2016-05-23 08:35] russel commented on #43
@msgilligan I have a request in to @aalmiray to find out who has "big boss" privilege as clearly I don't. I had assumed everyone in the team that could commit to the repository could also amend things, but apparently commit and admin are different roles and privileges.

[2016-05-23 13:46] deanriverson commented on #45
Agreed.  The docs are long overdue for attention.  Please feel free to work on whatever you'd like!

[2016-05-23 14:08] russel commented on #43
@msgilligan I have been inculcated into the mysteries of core and appended to the membership of core. You will note that s/2.0/8/ has been achieved.

[2016-05-23 14:08] #43 closed

[2016-05-23 14:14] msgilligan commented on #43
Awesome! You should also change the link to be GroovyFX.org -- someone's paying for the domain, let's use it!

[2016-05-23 14:31] russel commented on #43
Good point. Done.

[2016-05-23 21:25] msgilligan commented on #31
We should definitely simplify this -- and maybe add a note that lists extra step for OpenJDK.

(I've been focused on Mac OS in my beginning JavaFX efforts, so I know those steps are not required there, but haven't been doing builds on Win or Linux yet)

[2016-05-24 06:45] russel commented on #31
My comment about OpenJDK9 is now false, since the move to modularization: there is now no jfxrt.jar in the JDK9 early access releases. Given this and the lack of a JDK* JavaFX jar outside the Oracle distribution, I am not sure how there is a current alternative to manual stealing of a jfxrt.jar from somewhere, use of JDK8 and the JAVAFX_HOME environment variable for people not using a native Oracl

[2016-05-24 06:52] msgilligan commented on #31
I hate to open another can of worms, but shouldn't there be a JavaFX Gradle plugin that handles this?

[2016-05-24 06:56] russel commented on #31
Can I suggest we make that a separate bug report. As it happens we already have a can of worms so opening more is not a problem. In fact, I think it would make things a lot easier to have a specialist Gradle plugin, how to convince someone to write one?

[2016-05-24 06:58] msgilligan commented on #31
Sure, I'll open a new issue.

[2016-05-24 07:01] russel commented on #31
The gradle.properties file in master appears to indicate the default target in JDK9. However by removing all the JavaFX version checks  in build.gradle, it is clear that there are huge changes to JavaFX in JDK9 compared to JDK8 that means the current GroovyFX is in need of a sever amendment.

I wonder if we should create a JDK8 maintenance branch from the tag for the 8.0.0 release that @aalmiray

[2016-05-24 07:04] msgilligan opened #46 "Find (or write) and use a Gradle JavaFX plugin to simplify builds"
I've looked at the JavaFX Gradle plugin choices out there and am not happy. I wish that Gradle, Inc. would produce or bless one that does the complete job. My understanding is that the leading plugin https://bitbucket.org/shemnon/javafx-gradle is not being maintained (last update 2014)

This is a problem for the whole JavaFX ecosystem and affects more than just GroovyFX. Maybe I'm wrong -- I'd be

[2016-05-24 07:07] msgilligan commented on #31
Actually, why not create a JDK9 development branch and leave the main branch as JDK8 for now? That's certainly what most users of the project will be looking for at this point in time -- and it seems to me there is plenty of work to do for JDK8.

[2016-05-24 07:10] russel commented on #31
I always go the other way (as it were), master is always the research/development branch and there are maintenance branches for release software.

I have put in a pull request to remove all the JavaFX version checking in build.gradle of master.

[2016-05-24 07:12] msgilligan commented on #31
To me it depends upon what the next planned production release would be. I would think that would be something for JDK8. But I'm new here and will go with whatever you and other active committers decide.

[2016-05-24 07:14] russel commented on #31
@msgilligan @aalmiray already created a version8 branch, I will move it forward one changeset and you should be able to go with that.

[2016-05-24 07:18] msgilligan commented on #45
@russel So I should submit the docs PR (when ready) against the `version8` branch or `master`?

[2016-05-24 07:26] russel commented on #46
Given that JavaFX come integral with JDK9, this is likely a JDK8 issue only which maybe why no-one has picked up the plugin. @ysb33r (Schalk Cronjé) would undoubtedly be the person to advise as to what would be the best route to take here: fork @shemnon (Danno Ferrin) code, start again, hack for now.

[2016-05-24 07:39] msgilligan commented on #46
Actually the @shemnon  plugin is mostly focused around building native-style release packaging for the various platforms. It is very valuable/useful, but is difficult to maintain because it is very complex and platform dependent. Oracle provides the core functionality, I believe but not in a good form.

My goal is to make a JavaFX app with Groovy in it and put it in the Mac OS X app store!

[2016-05-24 08:06] russel commented on #46
Does iOS have JDK8 installed?

[2016-05-24 08:08] russel commented on #45
@msgilligan Very good question. Hummm… If you are working on the version8 branch with JDK8 then submit the changes to that branch. I will then cherry-pick them onto master.

[2016-05-24 08:09] msgilligan commented on #46
No, the Gradle plugin actually bundles the JDK inside the app. So you get a native-looking standalone app with no external dependencies. Downside is it's a big file. I'm hoping this will be improved when we get to JDK 9. My app is 200 MB -- but I haven't tried any trimming -- of either the JDK or the libraries that I'm using. There are mobile apps that way in at more than 200MB these days, though.

[2016-05-24 08:19] msgilligan commented on #45
Sounds like a plan!

[2016-05-24 09:01] ysb33r commented on #46
@msgilligan What do you define as the **the complete job**?

I'm also wondering what approach Griffon has taken to building JavaFX apps.

[2016-05-24 09:04] msgilligan commented on #46
I would include building native apps for Mac OS X, Windows, and Linux as the @shemnon Gradle plugin does. Maybe it would even include Android and iOS, with the Gluon plugin.

I realize my expectations are high. And as I said before, I think this is a JavaFX ecosystem issue, not a GroovyFX issue. I'd just like to see GroovyFX encourage and/or adopt the best solution.

[2016-05-24 09:10] msgilligan commented on #46
I'm working on building an app for Mac OS, Win, and Linux in the first set of releases and may be adding Android and iOS. I'm currently shipping (private alpha) a "native" (i.e. bundled JRE) Mac OS X app and shadow jars for Windows and Linux. I hope to get a windows EXE working later this week and Linux in a future release.

I'm currently using the @shemnon plugin, but am prepared to switch. I'd w

[2016-05-24 09:20] aalmiray commented on #46
As I recall form @johanvos, the JavaFX plugin from @shemnon and the jfxmobile from Gluon follow different approaches to deliver the same behavior. These two plugins are incompatible with one another so don't try setting them up in the same project.

Griffon uses the plugin from @shemnon because it was the one available first and it does not force the usage of Retrolambda and other dependencies tha

[2016-05-24 09:24] msgilligan commented on #46
That is a very clear explanation of what I think I've managed to figure out. (I've tried both plugins on different projects but never tried to mix them.)

How do we best approach Gluon? Do you know them?

[2016-05-24 09:35] aalmiray commented on #46
Yes, I just did over twitter https://twitter.com/aalmiray/status/735041277981544448

[2016-05-24 09:45] hendrikebbers commented on #46
A problem withe the plugin by @shemnon is that it adds the jfxrt.jar to the classpath. That was cool for Java < 8 but with Java 8 you will have the JFX classes 2 times on the classpath. Don't know if this can end in a constellation that will include 2 different jfxrt.jar (if you have several Java 8 versions installed)

[2016-05-24 11:47] russel commented on #46
Also note that OpenJDK 8 doesn't have jfxrt.jar (doesn't have JavaFX at all, only the Oracle distribution does) and OpenJDK 9 has JavaFX but not as jfxrt.jar.

[2016-06-01 00:19] msgilligan opened #48 "GroovyFX Scripting Window"
This is a feature request.

I'm looking for a reusable, embeddable Groovy console window for scripting in my JavaFX app. What is the best starting point in all of Groovydom? Does it make sense to include something like that in this project?

[2016-06-01 07:08] aalmiray commented on #48
I think it would be best to start another project, as an embeddable console requires additional dependencies such as a rich text editor (https://github.com/TomasMikula/RichTextFX), undo capabilities (https://github.com/TomasMikula/UndoFX), key bindings (https://github.com/TomasMikula/WellBehavedFX), and maybe even promises (https://github.com/jdeferred/jdeferred) to handle correctly  threading.

[2016-06-03 08:03] msgilligan commented on #48
Trying to post a long, rambling response. Is Github having issues or is it just too damn long?

[2016-06-03 08:03] msgilligan commented on #48
Thanks @aalmiray for all the links and advice. I agree that it makes sense that a scripting window component be in a separate JAR because of the dependencies, it doesn't *necessarily* have to be in a separate repo, though.

I'm new to JavaFX (though I've been using Groovy for 10 years and Java longer than that) and it's been very frustrating searching around for what libraries to use in my project

[2016-06-04 09:28] russel commented on #48
I suspect that maybe you want Griffon?  http://griffon-framework.org/

[2016-06-04 17:46] msgilligan commented on #48
Griffon looks a little too heavyweight for my application, but I'll take a second look.

[2016-06-07 09:48] aalmiray commented on #48
We welcome all feedback and criticism on Griffon. The design of the framework is supposed to be modular, in order to avoid forcing a single path on the developer's mind. The smallest application possible (for the time being) weights ~4M due to Guice/Guava and can grow up to ~12M due to Groovy/GroovyFX. In terms of features you can override *almost* any portion of the framework. I'm really interest

[2016-06-11 23:41] msgilligan commented on #48
Hi @aalmiray I just spend some time looking at Griffon and also Basilisk. I have several applications in mind and I want reusable components that can be used in multiple applications.  The GroovyFX console window would be desktop only, but other components would be used on mobile apps as well. I'm leaning away from using JavaFX on mobile and instead using native and Android and iOS UI.

I would lo

[2016-06-11 23:44] msgilligan commented on #48
If we were to make a JavaFX-based replacement for the current Groovy Swing Console, would you use Griffon?

I've also tried embedding the Swing Console in a JavaFX and the preliminary results aren't good. (Menus get all messed up on Mac OS) I'm wondering if there's a way to embed it using the `SwingNode` class from JavaFX.

[2016-06-12 18:41] aalmiray commented on #48
I'd suggest starting a conversation at the Griffon mailing list (http://griffon-user.74797.x6.nabble.com/) would be best. Targeting both desktop and mobile (iOS & Android) using the same codebase is only possible if you choose JavaFX and the jfxmobile plugin form Gluon; this is exactly what Basilisk offers, plus all the goodies from Griffon.

Embedding Swing on a JavaFX produces mixed results. As

[2016-06-21 16:20] markjfisher opened #49 "ClassCastException running CanvasDemo"
JDK: 1.8.0_92
Gradle: 2.14
OS: Linux
groovyfx/groovy version:

    compile 'org.codehaus.groovy:groovy-all:2.4.6'
    compile 'org.groovyfx:groovyfx:8.0.0'

When i try to run the CanvasDemo, I get the following:

    Exception in thread "main" java.lang.RuntimeException: Exception in Application start method
            at com.sun.javafx.application.LauncherImpl.launchApplication1(LauncherImpl.jav

[2016-06-21 16:46] markjfisher commented on #49
Same problem with SpirographDemo. 10/12 demos working so far.

[2016-07-19 14:07] Pascal1089 opened #50 "ColorPicker not available"
The 'ColorPicker' is not available in the current version.

[2016-08-17 20:50] davidekholm opened #51 "Executing GroovyFX scripts multiple times from embedded environment"
Sorry for posting a really novice question. I love the declarative, straight forward look of GroovyFX. How can I execute a simple hello world style example multiple times from a script evaluating console without getting the following exception : javax.script.ScriptException: java.lang.IllegalStateException: Application launch must not be called more than once?

[2016-10-05 11:45] bgoetzmann commented on #42
Same thing for me, with a Groovy script using a same Grab annotation.
I'm using Windows 7, and JDK 8 (1.8.0_102).
My stacktrace is slightly different:

[code]

Bertrand

[2016-10-06 10:49] bgoetzmann commented on #42
If I change `@Grab('org.groovyfx:groovyfx:8.0.0')` by `@Grab('org.codehaus.groovyfx:groovyfx:0.4.0')` (strange idea isn't it?), the JavaFX application starts without exception.

Note: I test it with the example code of the GroovyFX project home page. If the app starts well, I have a white background (instead of black), and the window width seems not correct.

[2016-10-06 12:52] russel commented on #42
@bgoetzmann If I change to 0.4.0 I just get a:
[code]

[2016-10-06 12:59] russel commented on #42
With 8.0.0 on JDK9 I get:
[code]
and with JDK8 I get:
[code]

[2016-10-06 13:01] aalmiray commented on #42
Ah lovely. Looks like the specific version of Groovy can't parse the new JDK9 version number. That's the problem Russel encounters when running with JDK9. Now on JDK8 we get a toolkit initialization exception (I can confirm the exception). This may be caused by an early access to a JavaFX class in SGB before the toolkit has been properly initialized.

I can have a loom at this issue tonight at the

[2016-10-06 13:09] russel commented on #42
@aalmiray Do you think the parsing is a Groovy or GroovyFX thing?

[2016-10-06 13:15] aalmiray commented on #42
I was too quick to judge on Groovy directly, the problem is in GroovyFX given the stacktrace

    at groovyx.javafx.JdkUtil.jdkIsBefore8(JdkUtil.groovy:5)

This means we can fix the problem from our side ;-)

[2016-10-06 15:52] bgoetzmann commented on #42
@russel For the 0.4.0 version test, be careful, the groupId is different! I replaced @Grab('**org.groovyfx:**groovyfx:8.0.0') by @Grab('**org.codehaus.groovyfx:**groovyfx:0.4.0').

[2016-10-06 16:54] aalmiray opened #52 "Running samples with JDK9 results in exception"
As shown by @russel in #42

    java.lang.RuntimeException: Could not init groovyx.javafx.SceneGraphBuilder because of an exception in groovyx.javafx.SceneGraphBuilder.registerControls
        at groovy.util.FactoryBuilderSupport.callAutoRegisterMethods(FactoryBuilderSupport.java:214)
        at groovy.util.FactoryBuilderSupport.autoRegisterNodes(FactoryBuilderSupport.java:188)
        at groovy.u

[2016-10-06 17:11] #52 closed

[2016-10-06 17:27] #42 closed

[2016-10-06 17:50] russel commented on #42
We should publicise the way people can use this artefact prior to it being published formally.

[2016-10-06 18:16] russel commented on #52
Splendid, but I am seemingly unable to compile. :-( Using JDK8 or JDK9 leads to error. :-(

[2016-10-06 18:24] aalmiray commented on #52
What errors do you get? I'm sad to say this but "it works on my machine" 😏

[2016-10-06 18:49] russel commented on #52
@aalmiray  It is doen to the fact that OpenJDK8 has no JavaFX and it seems that JDK9 138 doesn't either.

[2016-10-06 18:58] aalmiray commented on #52
Ah yes, OpenJDK8 may require an additional binary from OpenJFX. I tried JDK9-138 in OSX but with a much simpler example to figure out if JdkUtil was working correctly, but couldn't get a simple SGB example to work.

[2016-10-07 06:18] russel commented on #52
Does OpenJFX release a JDK8 build as opposed to the source, I had a quick look but couldn't see anything – but I may have been too quick and missed it.

[2017-03-18 13:08] novakmi opened #53 "How to get instance of Application object?"
Sometimes it is necessary to have access to the instance of `Application`. For example to call `getHostServices()` or `getParameters()`. Is there any way to do it? Seems like GroovyFX hides this instance completely.

[2017-04-02 10:07] jagedn commented on #42
Hi @kastork

I had the same problem (jdk8, grape and Toolkit not initialized) and I was able to solve it using grape API instead of annotation. I think grape load services from MANIFEST before JafaFX to be ready

import groovy.grape.Grape
new javafx.embed.swing.JFXPanel();

Grape.grab(group:'org.groovyfx',module:'groovyfx',version:'8.0.0',transitive:false)
Class.forName('groovyx.javafx.GroovyFX').

[2017-04-27 18:29] giflw commented on #44
The problem with not being on maven central is for Maven projects, that by default looks only in central.

[2017-12-21 16:17] andreas-oberheim commented on #53
You may just use the closure parameter of type groovyx.javafx.GroovyFX

Sample groovy class:
[code]

[2018-01-09 20:19] novakmi commented on #53
Thanks, it works :-) I was not aware `app` can be added to `start` closure.

[2018-01-28 14:50] mfreeman-xtivia commented on #42
Related to the comment from @russel --can someone describe how we can make use of this fix today since it does not appear 8.1 has been published yet?

[2018-05-11 11:14] bitsnaps opened #55 "Can groovyfx use other JavaFX library like JFoenix"
Hi,
I'm trying to include JFoenix widgets into groovyfx example, here a sample:
`@Grapes([
	@Grab('org.codehaus.groovyfx:groovyfx:0.4.0'),
	@Grab('com.jfoenix:jfoenix:8.0.3')
])

import static groovyx.javafx.GroovyFX.start
import com.jfoenix.controls.JFXTextField

start {
    stage(title: 'GroovyFX with jFoenix', visible: true) {
        scene(fill: BLACK, width: 500, height: 250) {
            hb

[2018-05-11 12:56] Dierk commented on #55
if you want to have it named, you can register the name in the bean factory:
https://github.com/groovyfx-project/groovyfx/blob/master/src/demo/groovy/CustomFieldDemo.groovy

for anonymous use, you can use the 'node' or 'container' scenegraph wrappers.

Happy coding
Dierk

[2018-05-11 14:04] bitsnaps commented on #55
Great! it works and it was great :)
https://gist.github.com/bitsnaps/8a04c04519b22a9833a88cd5e0b9ddb1

[2018-05-11 14:44] Dierk commented on #55
🤓

[2018-05-12 13:16] bitsnaps commented on #42
@mfreeman-xtivia based on the example of @jagedn, I believe this has something to do with Grape and they it loads dependencies, the best way for now is to use Gradle, this is what works for me:
[code]
Using:
Gradle 3.5.1
Groovy: 2.4.4
JVM: 1.8.0_101
Win7.

[2018-05-12 18:26] jagedn commented on #42
I "solved" the issue using a launcher who initialized javafx before to run the real script

LaunchFXScript.groovy

[code]
MyFXScript.groovy
[code]

so you can run `groovy LaunchFXScript.groovy MyFXScript.groovy`

but I know it's a trick

[2018-07-09 14:41] msgilligan commented on #48
Hey @aalmiray I see you're working on this: https://twitter.com/aalmiray/status/1006996345243291649
That's awesome!

Is the work in a Github repo?

[2018-07-09 16:53] aalmiray commented on #48
It's available at https://github.com/aalmiray/groovy-console-fx

[2018-08-25 20:06] rich-coe opened #57 "FXMLDemoFromSceneBuilderFile fails calling scene.lookup"
`Exception in Application start method
Caught: java.lang.RuntimeException: Exception in Application start method
java.lang.RuntimeException: Exception in Application start method
        at com.sun.javafx.application.LauncherImpl.launchApplication1(LauncherImpl.java:917)
        at com.sun.javafx.application.LauncherImpl.lambda$launchApplication$155(LauncherImpl.java:182)
Caused by: java.lang.Null

[2018-08-25 20:28] rich-coe commented on #49
pull request #56 added missing import

[2018-08-25 20:29] rich-coe commented on #57
pull request #58 fixes this issue

[2018-08-25 20:32] rich-coe opened #59 "NPE running HTMLEditor Demo"
On startup, when you start to type in the textBox, NPE is logged.
Using the pull down and setting an available font corrects the error.

`Exception in thread "JavaFX Application Thread" java.lang.NullPointerException
        at com.sun.javafx.scene.web.skin.HTMLEditorSkin.applyTextFormatting(HTMLEditorSkin.java:1100)
        at com.sun.javafx.scene.web.skin.HTMLEditorSkin.lambda$new$3(HTMLEditorSk

[2018-08-25 20:50] rich-coe opened #60 "TableView2Demo does not run, missing imports"
Missing Person definition and imports to support Person

`org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:
/usr/local/ext/src/github.com/groovyfx-project/groovyfx/src/demo/groovy/TableView2Demo.groovy: 27: unable to resolve class Person
 @ line 27, column 5.
       new Person(

[....]
`

[2018-08-25 20:54] rich-coe commented on #60
pull request #61 fixes this issue.

[2018-10-24 20:40] glockenstein commented on #60
the fix for this bug (that does not exist really) is not okay, because Person and Gender are defined in TableViewDemo and now when I start any demo via gradle e.g. (gradle SwingDemo) I get a compilation error.
[code]

[2020-03-08 18:43] Mrodent opened #65 "Is this project still alive?"
I see the latest commit dates from 2019-07-30, so I'm full of hope.

I just included this as a dependency in build.gradle:
`implementation 'org.groovyfx:groovyfx:8.0.0'`
./gradlew build gives:
[code]
I go to Maven Central: it appears to be there.  Baffled.

Then I see here that you say there is a newer version, 9.0.0 snapshot (not a release).  I try this, I also try jcenter instead of maven centra

[2020-03-11 12:36] russel commented on #65
I'd suggest that given this project hasn't really been updated since the release of JDK8, the answer is it is stalled (or worse). Clearly the original developers of this project are no longer developers of this project, so either new people need to step in to enliven it, or it will have to be considered dead.

[2020-03-11 19:20] Mrodent commented on #65
OK thanks

[2020-03-11 19:40] aalmiray commented on #65
Hi, I'm the one currently maintaining the project (at least the build). All I can say is that in previous months it was quite hard to support Java 9+ project with Gradle as it lacks the proper support for JPMS and Multi Release JARs for example. Some improvements have been made by the community driven java-modularity plugin. I've been meaning to get back to the build to see if the roadblocks have

[2020-03-12 09:20] russel commented on #65
@aalmiray I have pulled away from the Groovy/GPars/GroovyFX community and activity, but would be happy to give a hand making GroovyFX JDK11 compatible if I am able to. GroovyFX being stuck in the JDK8 position was a bit of a death knell for it.

[2020-03-13 07:59] Mrodent commented on #65
@aalmiray Thanks for letting me know. I'm currently on Java 11.

Also, I'm just trying to understand the purpose of this groovyfx project. I checked out what you say here: http://groovyfx.org/.

I found this project a couple of days ago when I was tearing my hair out trying to understand how to get Gradle + Java11 + Groovy app and test code + JavaFX to work together (and result in a JavaFX-bundled

[2020-03-21 22:22] novakmi commented on #65
Currently I use latest sources with my JavaFX project and JDK 11. I  clone groovyfx repo next to my project project and use

[code]
this seems to work well. What does not work is `jlink` Gradle plugin :-(, not sure if this is because of this.

Can we expect  `groovyfx-11`  (or at least `groovyfx-11.-SNAPSHOT`) to be published in JCenter (Maven) repository?

[2020-03-21 23:14] aalmiray commented on #65
@novakmi this project does not work with `jlink` at the moment ad Groovy itself is not yet compatible with JPMS, that is, its binaries still have split packages and are missing `module-info`.

There are a few items that need to be finished before producing a release. You may use jitpack.io in the meantime to build and configure a snapshot build. Composite builds do not work with jitpack.

[2020-03-21 23:17] aalmiray commented on #65
@mrodent it might shock you but personally I’d never write a JavaFX application using the script approach; I don’t find it suitable for long term development, I’d rather choose an application framework for that.

There are many choices out there, the one for me is http://griffon-framework.org for obvious reasons (I’m one of the founders). Though writing views in GroovyFX is one option I’d pick a c

[2020-03-22 15:35] Mrodent commented on #65
@aalmiray I agree with you, Groovy scripts are, I think, largely for checking stuff to do with the language. For "sys admin" tasks I personally prefer Python scripts (better than BASH in so many ways), so Groovy scripts are kind of a solution without a question for me.

I don't quite know about a "framework" for JavaFX. I find it's (now) easy enough to spin up a Gradle project and do it that way.

[2020-03-22 17:43] novakmi commented on #65
@aalmiray Thanks for `jitpack` suggestion. My application is not too complicated and to tell the truth, I find GroovyFX more easier than FXML for this. I did not run into any problem yet. Yes, solution may be to generate FXML with groovy XML builder. This might be similar, but still more complicated.  I'm not big fan of XML for something that can be expressed easier in a code (like groovy builder)

[2020-03-23 08:35] Mrodent commented on #65
I just had a look at that [griffon link](http://griffon-framework.org/tutorials/4_javafx_views.html). Thanks, that was interesting.
As something of a newb when it comes to JavaFX I'm not sure why precisely I would want to construct a UI (window, dialog, etc.) using Groovy when a tool like SceneBuilder exists: I take precisely 0 interest in the XML generated by this tool, but the point is that a ba

[2020-11-17 19:32] msgilligan commented on #46
I see that @aalmiray has updated the master branch to require JavaFX 11+ and use the [JavaFX Gradle Plugin](https://github.com/openjfx/javafx-gradle-plugin). These are good decisions given that it is now 2020 and JDK/JavaFX 11+ is a reasonable, forward looking solution.

The JavaFX Gradle Plugin still has some flaws for libraries (notably https://github.com/openjfx/javafx-gradle-plugin/issues/85)

[2020-11-17 19:32] #46 closed

[2020-11-17 19:35] msgilligan commented on #48
Closing this issue. If you're looking for a GroovyFX Console window, please follow: https://github.com/aalmiray/groovy-console-fx

(Note: It would be nice if that project could make a re-usable component for the scripting window itself.)

[2020-11-17 19:35] #48 closed

[2020-11-17 22:26] msgilligan commented on #65
I evaluated this project in 2016, but ended up deciding to go with straight Java (at least initially). At the time I was especially interested in the binding support annotations -- and I still am -- I think they would be useful as a separate module. They could be especially powerful if they can be made compatible with `@CompileStatic` and the alpha `@POJO` annotation.

These days I'm using JDK 15